@import "../../core/lists";

@include govuk-exports("govuk/component/error-summary") {
  .#{$brand}-error-summary {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-padding(4);
    @include govuk-responsive-margin(8, "bottom");

    border: $govuk-border-width solid $govuk-error-colour;

    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }
  }

  .#{$brand}-error-summary__title {
    @include govuk-font-size($size: 24);
    @include govuk-typography-weight-bold;

    margin-top: 0;
    @include govuk-responsive-margin(4, "bottom");
  }

  .#{$brand}-error-summary__body {
    p {
      margin-bottom: 0;
    }

    > * + * {
      @include govuk-responsive-margin(4, "top");
    }
  }

  // Cross-component class - adjusts styling of list component
  .#{$brand}-error-summary__list {
    margin-bottom: 0;
  }

  // Remove the bottom margin from the last list item
  .#{$brand}-error-summary__list li:last-child {
    margin-bottom: 0;
  }

  .#{$brand}-error-summary__list a {
    @include govuk-typography-weight-bold;
    @include govuk-link-common;
    @include govuk-link-style-error;
  }
}
