@include govuk-exports("govuk/component/hint") {
  .#{$brand}-hint {
    @include govuk-font($size: 19);

    margin-bottom: govuk-spacing(3);

    color: $govuk-secondary-text-colour;
  }

  // Reduces margin-bottom of hint when used after the default label (no class)
  // or govuk-label--s for better vertical alignment.

  // This adjustment will not work when the label is inside the <h1>, however it
  // is unlikely that the default or govuk-label--s class would be used in this
  // case.

  // This adjustment will not work in browsers that do not support :not().
  // Users with these browsers will see the default size margin (5px larger).

  .#{$brand}-label:not(.#{$brand}-label--m):not(.#{$brand}-label--l):not(.#{$brand}-label--xl) + .#{$brand}-hint {
    margin-bottom: govuk-spacing(2);
  }

  // Reduces margin-bottom of hint when used after the default legend (no class)
  // or govuk-fieldset__legend--s for better vertical alignment.

  // This adjustment will not work when the legend is outside the <h1>, however
  // it is unlikely that the default or govuk-fieldset__legend--s class would be
  // used in this case.

  // This adjustment will not work in browsers that do not support :not().
  // Users with these browsers will see the default size margin (5px larger).

  // prettier-ignore
  .#{$brand}-fieldset__legend:not(.#{$brand}-fieldset__legend--m):not(.#{$brand}-fieldset__legend--l):not(.#{$brand}-fieldset__legend--xl) + .#{$brand}-hint {
    margin-bottom: govuk-spacing(2);
  }

  // Reduces visual spacing of legend when there is a hint
  .#{$brand}-fieldset__legend + .#{$brand}-hint {
    margin-top: govuk-spacing(-1);
  }
}
