@import "../error-message/index";
@import "../input/index";
@import "../hint/index";
@import "../label/index";

@include govuk-exports("govuk/component/date-input") {
  .#{$brand}-date-input {
    @include govuk-clearfix;
    // font-size: 0 removes whitespace caused by inline-block
    font-size: 0;
  }

  .#{$brand}-date-input__item {
    display: inline-block;
    margin-right: govuk-spacing(4);
    margin-bottom: 0;
  }

  .#{$brand}-date-input__label {
    display: block;
  }

  .#{$brand}-date-input__input {
    margin-bottom: 0;
  }
}
