// stylelint-disable declaration-no-important
@include govuk-exports("govuk/overrides/display") {
  .#{$brand}-\!-display-inline {
    display: inline !important;
  }

  .#{$brand}-\!-display-inline-block {
    display: inline-block !important;
  }

  .#{$brand}-\!-display-block {
    display: block !important;
  }

  .#{$brand}-\!-display-none {
    display: none !important;
  }

  @include govuk-media-query($media-type: print) {
    .#{$brand}-\!-display-none-print {
      display: none !important;
    }
  }
}
