// stylelint-disable declaration-no-important
@include govuk-exports("govuk/overrides/text-align") {
  .#{$brand}-\!-text-align-left {
    text-align: left !important;
  }

  .#{$brand}-\!-text-align-centre {
    text-align: center !important;
  }

  .#{$brand}-\!-text-align-right {
    text-align: right !important;
  }
}
