@include govuk-exports("govuk/component/accordion") {
  $govuk-accordion-border-width: 3px;
  $govuk-accordion-bottom-border-width: 1px;
  $govuk-accordion-base-colour: govuk-colour("black");
  $govuk-accordion-hover-colour: govuk-colour("light-grey", $legacy: "grey-3");

  // Buttons within the sections don’t need default styling
  .govuk-accordion__section-button {
    display: inline-block;
    margin-bottom: 0;
    padding-top: govuk-spacing(3);
    @include govuk-font($size: 24, $weight: bold, $line-height: 1);
  }

  .govuk-accordion__section-header {
    padding-top: govuk-spacing(2) 0;
  }

  .govuk-accordion__section-heading {
    margin: govuk-spacing(1) 0;
  }

  .js-enabled {
    .govuk-accordion {
      border-bottom: $govuk-accordion-bottom-border-width solid $govuk-border-colour;
    }

    .govuk-accordion__controls {
      text-align: left;
    }

    .govuk-accordion__open-all {
      position: relative;
      z-index: 1;
      margin: 0 0 govuk-spacing(2) 0;
      padding: 7px 2px 7px 0;
      border-width: 0;
      color: $govuk-link-colour;
      background: none;
      cursor: pointer;
      -webkit-appearance: none;
      @include govuk-font($size: 19);

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &:focus {
        @include govuk-focused-text;
      }
    }

    // Space between icon and text, avoid placing on icon due to transform
    .govuk-accordion__open-all-text,
    .govuk-accordion__toggle-text {
      margin-left: 5px;
    }

    .govuk-accordion__section-heading {
      // Override browser defaults to ensure consistent element height
      margin-top: 0; // Override browser default
      margin-bottom: 0; // Override browser default
      @include govuk-font(24);
    }

    .govuk-accordion__section-header {
      position: relative;
    }

    .govuk-accordion__section-heading-focus-wrapper {
      margin-bottom: 5px;
    }

    // Create Chervon icon align with text
    .govuk-accordion-nav__chevron {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      border: 1px solid;
      border-radius: 100px;
      vertical-align: text-top;

      // hiding icon on IE8
      @include govuk-if-ie8 {
        display: none;
      }

      &:after {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        bottom: 5px;
        left: 6px;
        width: 6px;
        height: 6px;
        overflow: visible;
        transform: rotate(-45deg);
        border-top: 2px solid;
        border-right: 2px solid;
      }
    }

    // Rotate icon to create "Down" version
    .govuk-accordion-nav__chevron--down {
      transform: rotate(180deg);
    }

    // Buttons within the headers don’t need default styling
    .govuk-accordion__section-button {
      position: relative;
      width: 100%;
      margin: 0;
      padding: govuk-spacing(2) 0 govuk-spacing(5);
      border-top: $govuk-accordion-bottom-border-width solid $govuk-border-colour;
      border-width: $govuk-accordion-bottom-border-width 0 0 0;
      color: $govuk-text-colour;
      background: none;
      text-align: left;
      cursor: pointer;
      -webkit-appearance: none;
      @include govuk-typography-common;

      &:hover {
        color: $govuk-accordion-base-colour;
      }

      &:active {
        z-index: 1;
        color: $govuk-link-active-colour;
        background: none;
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      // Extend the touch area of the button to span the section header
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    // Add toggle link with Chevron icon on right.
    .govuk-accordion__toggle-link {
      display: block;
      margin-top: govuk-spacing(1);
      margin-bottom: govuk-spacing(1);
      color: $govuk-link-colour;
      text-transform: capitalize;
      @include govuk-font($size: 19, $line-height: 1);

      &:active {
        background: $govuk-link-active-colour;
      }
    }

    // Allows the width of the focus state match the width of the content
    .govuk-accordion__toggle-link,
    .govuk-accordion__section-heading-focus-wrapper,
    .govuk-accordion__section-summary {
      float: left;
      clear: left;
    }

    // Alter colours on hover
    .govuk-accordion__open-all:hover:not(:focus),
    .govuk-accordion__section-button:hover {
      color: $govuk-accordion-base-colour;
      background: $govuk-accordion-hover-colour;

      .govuk-accordion__toggle-text {
        color: $govuk-accordion-base-colour;
      }

      .govuk-accordion-nav__chevron {
        color: $govuk-accordion-base-colour;
        background: $govuk-accordion-base-colour;
        text-decoration: none;
      }

      .govuk-accordion-nav__chevron:after {
        color: $govuk-accordion-hover-colour;
      }
    }

    // Alter Chervon colours on focus
    .govuk-accordion__open-all:focus,
    .govuk-accordion__section-button:focus {
      .govuk-accordion-nav__chevron {
        background: $govuk-accordion-base-colour;
      }

      .govuk-accordion-nav__chevron:after {
        color: govuk-colour("yellow");
      }
    }

    // For devices that can't hover such as touch devices,
    // remove hover state as it can be stuck in that state (iOS).
    @media (hover: none) {
      .govuk-accordion__section-header:hover {
        border-top-color: $govuk-border-colour;
        box-shadow: inset 0 $govuk-accordion-border-width 0 0 $govuk-link-colour;

        .govuk-accordion__section-button {
          border-top-color: $govuk-border-colour;
        }
      }
    }

    // When the button is in focus:
    .govuk-accordion__section-button:focus {
      // Remove default focus border around button as this is being applied to inner elements.
      outline: 0;

      // Focus styles to the heading and the summary
      .govuk-accordion__section-heading-focus-wrapper,
      .govuk-accordion__section-summary {
        @include govuk-focused-text;
      }

      // Focus styles to change Chervon icon
      .govuk-accordion-nav__chevron {
        color: $govuk-text-colour;
        background: $govuk-text-colour;
      }

      .govuk-accordion__toggle-link {
        @include govuk-focused-text;
      }
    }

    // For devices that can't hover such as touch devices,
    // remove hover state as it can be stuck in that state (iOS).
    @media (hover: none) {
      .govuk-accordion__section-button:hover {
        text-decoration: none;
      }
    }

    // Change the summary subheading size.govuk-accordion__section-summary
    .govuk-accordion__section-summary {
      @include govuk-responsive-margin(1, "top");
      @include govuk-responsive-margin(2, "bottom");
      @include govuk-typography-common;
      @include govuk-typography-responsive($size: 19, $override-line-height: 1);
    }

    // Hide body of expanded sections
    .govuk-accordion__section-content {
      display: none;
      @include govuk-responsive-padding(0, "top");
      @include govuk-responsive-padding(8, "bottom");
    }

    // Show the body of expanded sections
    .govuk-accordion__section--expanded .govuk-accordion__section-content {
      display: block;
    }

    // Remove the bottom margin from the last item inside the content
    .govuk-accordion__section-content > :last-child {
      margin-bottom: 0;
    }
  }
}
